body{
    background-color: black;
    font-family:"Bungee", sans-serif;
}

#header-content{
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header-text{
font-size: 21px;
}

#header-data{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.sub-header{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.sub-header:hover{
    color: rgb(49, 212, 163);
}

#home{
    color: white;
    padding: 8px;
    font-size: 25px;
}

#logo{
    width: 200px;

}


#main-table{
    display: flex;
    justify-content: center;
}

.table-content, th, td, caption{
    border: 1px solid #ffffff;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

table caption{
    background-color: rgba(49, 212, 163, 0.685);
}


th{
    background-color:rgba(31, 136, 104, 0.685) ;
}
td{
    padding: 8px;
}

.completed{
    background-color: green;
}

.canceled{
    background-color: red;
}

.process{
    background-color: rgb(165, 165, 20);
}